<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyc.fulongapi.mapper.CheckListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rzyc.fulongapi.model.CheckList">
        <id column="check_list_id" property="checkListId" />
        <result column="list_name" property="listName" />
        <result column="list_type" property="listType" />
        <result column="create_by" property="createBy" />
        <result column="modify_by" property="modifyBy" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        check_list_id, list_name, list_type, create_by, modify_by, create_time, modify_time
    </sql>

    <!---->
    <select id="findByListType" resultMap="BaseResultMap">
        SELECT * FROM `check_list` cl WHERE cl.`list_type` = #{listType} ORDER BY cl.`modify_time` DESC LIMIT 1
    </select>

</mapper>
