<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyc.fulongapi.mapper.SysFrameworkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rzyc.fulongapi.model.SysFramework">
        <id column="framework_id" property="frameworkId" />
        <result column="post_name" property="postName" />
        <result column="china_name" property="chinaName" />
        <result column="mobile" property="mobile" />
        <result column="sort_id" property="sortId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        framework_id, post_name, china_name, mobile, sort_id, create_time, create_by, modify_time, modify_by
    </sql>

    <select id="selectFrameworkList" resultMap="BaseResultMap">
        select * from sys_framework where 1=1
        <if test="null != frameworkId">
            and framework_id  = #{frameworkId}
        </if>
        <if test="null != chinaName">
            and china_name  = #{chinaName}
        </if>
        <if test="null != postName">
            and post_name  = #{postName}
        </if>
        order by create_time desc
        limit #{page},#{pageSize}
    </select>


    <!--列表-->
    <select id="frameworkList" resultMap="BaseResultMap">
        select * from sys_framework
        where china_name like #{cindition} or post_name like #{cindition}
        order by sort_id ASC,modify_time desc
    </select>

</mapper>
